body{
  font-family: 'Roboto', 'kalpurush';
  background-color: #F4F4F4;
  width: 70%;
  margin: 0 auto;
}

header{
  background-color: #FF4E00;
  color: #fff;
  text-align: center;
  padding: 3%;
}

p{
  text-align: justify;
  line-height: 2em;
  color: #333;
}

p.last{
  padding:0 0 0 3%;
}

li{
  list-style-type:none;
  padding: 0 0 0 3%;
  line-height: 2em;
  margin: 20px;
}

li a{
  background-color: #B90000;
  padding:1%;
  color: #fff;
  text-decoration: none;
}

hr{color: #333;}

footer{
  padding: 3%;
  text-align: center;
}